[![imagenes/pythonista.png](imagenes/pythonista.png)](https://pythonista.io)

Una tabla simple es un elemento que contiene una sucesión de filas o renglones, las cuales a su vez contienen una sucesión de celdas.

## El elemento *&lt;table&gt;*.

El elemento *&lt;table&gt;* es el contenedor de una tabla.

## Definición de filas con el elemento *&lt;tr&gt;*.

Cada elemento *&lt;tr&gt;* corresponde a la fila de una tabla. Dicho elemento puede contener a varias celdas.

## Definición de celdas con el elemento *&lt;td&gt;*.

Las celdas son el elemento base que conforma a una fila y por ende a una tabla.

**Ejemplos:**

* El siguiente código creará una tabla con una sola celda.


``` html
<table>
    <td>Hola</td>
</table>
```

Dando por resultado:

<table>
    <td>Hola</td>
</table>

* El siguiente código creará una tabla conteniendo 3 filas que a su vez contienen 3 celdas en cada fila.

``` html
<table>
 <tr>
  <td>1</td> <td>2</td> <td>3</td>
 </tr>
 <tr>
  <td>4</td> <td>5</td> <td>6</td>
 </tr>
 <tr>
  <td>7</td> <td>8</td> <td>9</td>
 </tr>
</table>
```

Dando por resultado: 

<table>
 <tr>
  <td>1</td> <td>2</td> <td>3</td>
 </tr>
 <tr>
  <td>4</td> <td>5</td> <td>6</td>
 </tr>
 <tr>
  <td>7</td> <td>8</td> <td>9</td>
 </tr>
</table>

*  No es necesario que las filas tengan el mismo número de celdas, por lo que el siguiente código creará una tabla con filas de distintos tamaños.

``` html
<table>
 <tr>
  <td>1</td>  <td>3</td>
 </tr>
 <tr>
  <td>4</td> <td>5</td> <td>6</td>
 </tr>
 <tr>
  <td>7</td> <td>8</td> <td>9</td>
 </tr>
 <tr>
  <td>10</td> <td>11</td> <td>12</td> <td>13</td> <td>14</td>
 </tr>
</table>
```

Dando por resultado:

<table>
 <tr>
  <td>1</td>  <td>3</td>
 </tr>
 <tr>
  <td>4</td> <td>5</td> <td>6</td>
 </tr>
 <tr>
  <td>7</td> <td>8</td> <td>9</td>
 </tr>
 <tr>
  <td>10</td> <td>11</td> <td>12</td> <td>13</td> <td>14</td>
 </tr>
</table>

## Encabezados con *&lt;th&gt;*.

<table>
 <tr>
     <th>Primera</th> <th>Segunda</th> <th>Tercera</th> 
 </tr>
 <tr>
 <td>1</td> <td/> <td>3</td>
 </tr>
 <tr>
  <td>4</td> <td>5</td> <td>6</td>
 </tr>
 <tr>
  <td>7</td> <td>8</td> <td>9</td>
 </tr>
 <tr>
  <td>10</td> <td>11</td> <td>12</td>
 </tr>
</table>

<table>
 <tr>
     <td/><th>Primera</th> <th>Segunda</th> <th>Tercera</th> 
 </tr>
 <tr>
 <th>A</th><td>1</td> <td/> <td>3</td>
 </tr>
 <tr>
  <th>B</th><td>4</td> <td>5</td> <td>6</td>
 </tr>
 <tr>
  <th>C</th><td>7</td> <td>8</td> <td>9</td>
 </tr>
 <tr>
  <th>D</th><td>10</td> <td>11</td> <td>12</td>
 </tr>
</table>

### Atributo colspan, rowspan.

<table>
 <tr>
     <td/><th>Primera</th> <th>Segunda</th> <th>Tercera</th> 
 </tr>
 <tr>
     <th>A</th><td colspan="2">1</td> <td>3</td>
 </tr>
 <tr>
     <th>B</th><td rowspan="3">4<br/>extendido</td> <td>5</td> <td>6</td>
 </tr>
 <tr>
     <th>C</th> <td>8</td> <td>9</td>
 </tr>
 <tr>
    <th>D</th> <td>11</td> <td>12</td>
 </tr>
</table>

Encabezados extendidos con *&lt;thead&gt;*, *&lt;tbody&gt;* *&lt;tfoot&gt;*.

<table>
 <thead>
<tr>
 <th>Encabezado 1</th> <th>Encabezado 2</th>
</tr>
 </thead>
 <tbody>
 <tr>
 <td>1</td> <td>2</td>
 </tr>
 <tr>
 <td>3</td> <td>4</td>
 </tr>
 <tr>
 <td>5</td> <td>6</td>
 </tr>
 <tr>
 <td>7</td> <td>8</td>
 </tr>
 <tr>
 <td>9</td> <td>10</td>
 </tr>
 <tr>
 <td>11</td> <td>12</td>
 </tr>
 <tr>
 <td>13</td> <td>14</td>
 </tr>
 <tr>
 <td>15</td> <td>16</td>
 </tr>
 <tr>
 <td>17</td> <td>18</td>
 </tr>
 <tr>
 <td>19</td> <td>20</td>
 </tr>
 <tr>
 <td>21</td> <td>22</td>
 </tr>
 </tbody>
 <tfoot>
<tr>
 <th>Pie 1</th> <th>Pie 2</th>
</tr>
 </tfoot>
</table>

## caption

## col y colgroup

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2018.</p>